
* {
  text-decoration: none;
}

header {
  width: 100%;
  height: 6.5em;
  position: relative;
  background: rgba(250, 250, 250, 1);
  border-bottom: 1px solid rgba(200, 200, 200, 1);
}

header li {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 2.5em;
  float: right;
}

span {
  font-size: 18px;
}

header img {
  width: 4em;
  border-radius: 0.5em;
}

.header-button a {
  font-size: 18px;
  color: rgba(149, 149, 149, 1);
  transition: color 0.5s;
}

.header-button a:hover {
  color: black;
}

#player-pic {
  margin: 1em;
}

#logo {
  position: absolute;
  float: left;
  padding: 0;
  margin: 0 0 0 3% ;
  top: 50%;
  transform: translateY(-40%);
  }

#logo img {
  width: 50%;
}
