body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

article {
  width: 100%;
  margin-top: 10em;
  margin-left: 20%;
}

.intro-one, .intro-two {
  display: inline-block;
  float: left;
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
}

.intro-two {
  color: gray;
}

.play-button {
  display: block;
  margin: 1em;
  font-size: 100px;
}
