body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* .intro-one, .intro-two {
  display: inline-block;
  float: left;
  font-size: 100px;
  height: 10em;
}

.intro-two {
  color: gray;
}
 */
