<p>
  Ghost is a word game where you take turns adding letters to form a word.  The player wins when the other player either completes a word, or makes a string that cannot be a word.  Better instructions coming soon!
</p>

<a href="/">Back</a>
