<article class="instructions">
  <p>
    Ghost is a word game where you take turns adding letters to form a word.  The player wins when the other player either completes a word, or makes a string that cannot be a word.
  </p>
  <p>
    At the moment, this is a hot seat game.  So pass your device back and forth with your opponent until someone loses.  Keep watching for online multiplayer, more gameplay options and a mobile app, coming soon!
  </p>
</article>
<a href="/">Back</a>
