*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #797979;
  transition: color 0.25s; }

a:hover {
  color: black; }

article {
  width: 100%;
  margin-top: 10em;
  margin-left: 20%; }

.intro-one, .intro-two {
  display: inline-block;
  float: left;
  font-size: 100px;
  margin-left: auto;
  margin-right: auto; }

.intro-two {
  color: gray; }

.play-button {
  display: block;
  margin: 1em;
  font-size: 100px; }

* {
  text-decoration: none; }

header {
  width: 100%;
  height: 6.5em;
  position: relative;
  background: #fafafa;
  border-bottom: 1px solid #c8c8c8; }

header li {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 2.5em;
  float: right; }

span {
  font-size: 18px; }

header img {
  width: 4em;
  border-radius: 0.5em; }

.header-button a {
  font-size: 18px;
  color: #959595;
  transition: color 0.5s; }

.header-button a:hover {
  color: black; }

#player-pic {
  margin: 1em; }

#logo {
  position: absolute;
  float: left;
  padding: 0;
  margin: 0 0 0 3%;
  top: 50%;
  transform: translateY(-40%); }

#logo img {
  width: 50%; }

.current-word {
  font-size: 80px;
  float: left; }

.fail {
  margin: 1em;
  font-size: 60px; }

.play-main {
  margin-top: 10em; }

.play-form-one, .play-form-two {
  display: inline-block;
  float: left; }

.new-letter {
  width: 80px;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 80px;
  display: block;
  margin-right: 5px;
  text-align: center; }

.word-list {
  margin-top: 4%;
  margin-left: 10%; }

.play-submit {
  display: none;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 4em;
  background: #32dd85;
  margin-top: 10px; }
